<div class="container">
    <div class="row">
        <div class="col mt-3">
            <div class="h2 text-center">Employee List</div>
            <div class="row">
                <div class="col">

                    <mat-form-field>
                        <mat-select placeholder="Filter by Department" [(ngModel)]="selectedDepartment">
                            <mat-option value="">All</mat-option>
                            <mat-option *ngFor="let department of departments" [value]="department">
                                {{ department}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-table [dataSource]="dataSource | departmentFilter:selectedDepartment" matSort>
                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                            <mat-cell *matCellDef="let employee"> {{employee.id}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                            <mat-cell *matCellDef="let employee"> {{employee.name}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                            <mat-cell *matCellDef="let employee"> {{employee.email}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="department">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Department </mat-header-cell>
                            <mat-cell *matCellDef="let employee"> {{employee.department}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="joiningDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Joining Date </mat-header-cell>
                            <mat-cell *matCellDef="let employee"> {{employee.joiningDate}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="delete">
                            <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                            <mat-cell *matCellDef="let employee">
                                <button mat-icon-button color="warn" (click)="openDeleteDialog(employee)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <div class="text-center mt-3">
                        <button mat-raised-button color="primary" [routerLink]="['/add-employee']">Add More
                            Employee</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4 mb-4 mt-4" *ngFor="let employee of filteredEmployees ">
                    <app-employee-card [employee]="employee"></app-employee-card>
                </div>
            </div>
        </div>
    </div>
</div>