<div class="col">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><strong>ID: </strong> &nbsp;{{ employee.id }}</h5>
            <h5 class="card-title"><strong>Name: </strong> &nbsp;{{ employee.name }}</h5>
            <h5 class="card-subtitle mb-2"><strong>Email: </strong> &nbsp;{{ employee.email }}</h5>
            <h5 class="card-text"><strong>Department: </strong> &nbsp;{{ employee.department }}</h5>
            <h5 class="card-text"><strong>Joining Date: </strong> &nbsp; {{ employee.joiningDate | date }}</h5>
        </div>
    </div>
</div>